<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twoops</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/custom.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
    <div class="page">
        <div clas="nav-top row">
            <div class="container">
                <div class="col-md-4 col-sm-4 topbrand">
                    <a href="/"><h1><b>Tw</b><span style="color:#0D68A8;">oops!</span></h1></a>
                </div>
                <div class="col-md-4 col-sm-7 col-md-offset-3 text-right">
                    <nav class="navbar" role="navigation">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top:24px;">
                                <ul class="nav navbar-nav">
                                     <li>
                                        <a href="/" {% if landing %}class="active" {% endif %}>Deleted Tweets</a>
                                    </li>
                                    <li>
                                        <a href="/tracked-users" {% if users_page %}class="active" {% endif %}>Tracked Users</a>
                                    </li>
                                    <li>
                                        <a href="/stories" {% if stories %}class="active" {% endif %}>Stories</a>
                                    </li>
                                    <li>
                                        <a href="/about" {% if about %}class="active" {% endif %}>About</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container -->
                    </nav>
                    <!-- Navigation -->
                </div>
                <div class="social-btns col-md-1 col-sm-1 text-right" style="line-height:70px;">
                    <a href="https://www.facebook.com/CodeForAfrica/"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/Code4Africa"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <br clear="all">

        {% if landing %}
        <div class="jumbotron home-jumbotron">
            <div class="container">
                <div clas="row text-center">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2> An archive of public tweets deleted by public figures and organizations</h2>
                        <p>Explore the tweets they would prefer you couldn't see.</p>
                    </div>
                    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                        <div class="input-group">
                            <input type="text" class="form-control search" id="home-search" value="Search" placeholder="" aria-describedby="basic-addon2">
                            <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i> </span>
                        </div>
                    </div>
                    <br clear="all">
                    <br clear="all">
                    <br clear="all">
                    <div class="col-md-offset-4 col-md-4 col-md-offset-4">
                        <select class="form-control country-sel">
                            <option>Filter by Country</option>
                            <option>Country A</option>
                            <option>Country B</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if users_page %}
        <div class="jumbotron">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
                        <h2>Twitter accounts that we are tracking</h2>
                        <p>Want us to track a public figure?</p>
                    </div>
                    <br clear="all">
                    <br clear="all">
                    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
                        <div class="input-group" style="width:75%;float:left;">
                            <span class="input-group-addon" id="basic-addon2">@</span>
                            <input type="text" class="form-control" id="recommendation" value="Twitter handle" aria-describedby="basic-addon2" style="background:transparent;color:#fff;">
                        </div>
                        <button class="btn btn-default">Recommend</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if tweet_page or stories or about %}
        <div class="jumbotron home-jumbotron" style="height:5px;padding:0px !important;"></div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

    <footer class="bottom">
		<div class="wrap container">
			<div class="info clearfix">
				<div class="col-md-6">
					<div class="inner">
						<small>This site is a project of <a href="https://codeforafrica.org/" target="_blank">Code for Africa</a>. All content is released under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons 4 Attribution license</a>. Page code is available <a href="https://github.com/andkamau/pylitwoops" target="_blank">on GitHub</a>.</small>
					</div>
				</div>
				<div class="col-md-6">
					<div class="col-md-6 pull-left">
						<ul>
							<li><a href="http://openafrica.net/" target="_blank">openAFRICA</a></li>
							<li><a href="https://pesacheck.org/" target="_blank">PesaCheck</a></li>
							<li><a href="https://taxclock.codeforkenya.org/" target="_blank">Tax Clock</a></li>
							<li><a href="https://facebook.com/HacksHackersAfrica" target="_blank">Hacks/Hackers Africa</a></li>
						</ul>
					</div>
					<div class="col-md-6 right text-right">
						<a href="https://codeforkenya.org/" class="footer-logo"><img src="/assets/img/cfafrica-logo.png" height="100px" /></a>
					</div>
				</div>
			</div>
		</div>
	</footer><!-- /footer -->

    <!-- jQuery -->
    <script src="/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/custom.js"></script>

</body>

</html>
