{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 story-card">
            <img src="/assets/img/crowds.jpg"/>
            <div class="wrapper">
                <h2>Some Scandalous tweet</h2>
                <p>You will not believe what nani said..</p>
                <p>Twoops is an archive of public tweets deleted by public figures and organizations. </p>
                <center><button>Read more</button></center>
            </div>
        </div>
        <div class="col-md-4 story-card">
            <img src="/assets/img/crowds.jpg"/>
            <div class="wrapper">
                <h2>Some Scandalous tweet</h2>
                <p>You will not believe what nani said..</p>
                <p>Twoops is an archive of public tweets deleted by public figures and organizations. </p>
                <center><button>Read more</button></center>
            </div>
        </div>
        <div class="col-md-4 story-card">
            <img src="/assets/img/crowds.jpg"/>
            <div class="wrapper">
                <h2>Some Scandalous tweet</h2>
                <p>You will not believe what nani said..</p>
                <p>Twoops is an archive of public tweets deleted by public figures and organizations. </p>
                <center><button>Read more</button></center>
            </div>
        </div>
        <div class="col-md-4 story-card">
            <img src="/assets/img/crowds.jpg"/>
            <div class="wrapper">
                <h2>Some Scandalous tweet</h2>
                <p>You will not believe what nani said..</p>
                <p>Twoops is an archive of public tweets deleted by public figures and organizations. </p>
                <center><button>Read more</button></center>
            </div>
        </div>
        <div class="col-md-4 story-card">
            <img src="/assets/img/crowds.jpg"/>
            <div class="wrapper">
                <h2>Some Scandalous tweet</h2>
                <p>You will not believe what nani said..</p>
                <p>Twoops is an archive of public tweets deleted by public figures and organizations. </p>
                <center><button>Read more</button></center>
            </div>
        </div>


    </div>
</div>
{% endblock %}