<!-- Single Tweet View Page -->
{% extends 'base.html' %}

{% block content %}

<!--<p> {{ payload }} </p>-->

<div class="container">
    <div class="tweet-card" style="height:auto;margin-top:15px;padding:0px 20px;margin-bottom:15px;">
        <div class="row wrapper">
            <div class="col-md-12" style="padding: 20px;">
                <div class="tweet-row" style="height:auto;">
                    <a class="media-left" href="https://twitter.com/{{ payload['username'] }}" style="" target="_blank">
                    <img class="img-circle" src="{{ payload.get('avatar') }}" alt="{{ payload['username'] }}" height="100px;">
                </a>
                </div>
                <div class="blockquote">
                    <a href="/tweet/{{ payload['request_id'] }}"><p class="m-b-0">{{ payload['message'].decode('utf-8') }}</p> </a>
                </div>

                <div class="tweet-row underline"><a href="https://twitter.com/{{ payload['username'] }}" target="_blank">@{{ payload['username'] }}</a></div>

                 <div class="tweet-row"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ payload['created_at'] }}</div>

                {% if payload.get('source') %}
                <div class="tweet-row">via {{ payload.get('source') }}</div>
                {% endif %}

                <span class="links">
                    <a target="_blank" href="https://twitter.com/intent/tweet?hashtags=twoops&original_referer=https%3A%2F%2Fcodeforafrica.tech&ref_src=twsrc%5Etfw&tw_p=tweetbutton&text=.@{{ payload['username'] }}">Reply to @{{ payload['username'] }}</a>
                    &nbsp;.&nbsp;
                    <a target="_blank" href="https://twitter.com/intent/tweet?hashtags=twoops&original_referer=https%3A%2F%2Fcodeforafrica.tech&ref_src=twsrc%5Etfw&tw_p=tweetbutton&text=.@{{ payload['username'] }} deleted this tweet: {{ payload['message'].decode('utf-8') }}" >Share on Twitter</a>
                </span>
            </div>
        </div>
    </div>
</div>    

{% endblock %}
