<!-- Single Tweet View Page -->
{% extends 'base.html' %}

{% block content %}

<p> {{ payload }} </p>

<div class="container">
    <div class="tweet-card" style="height:auto;margin-top:15px;padding:0px 20px;">
        <div class="row wrapper" style="">
            <div class="col-md-1" style="height:100%;padding-top: 50px;">
                <a class="media-left" href="https://twitter.com/{{ payload['username'] }}" style="" target="_blank">
                    <img class="img-circle" src="{{ payload.get('avatar') + '_normal' }}" alt="{{ payload['username'] }}">
                </a>
            </div>
            <div class="col-md-11" style="padding: 20px;">
                <span class="media-heading"><a href="https://twitter.com/{{ payload['username'] }}" target="_blank">@{{ payload['username'] }}</a></span> deleted this tweet:
                <div class="blockquote">
                    <a href="/tweet/{{ payload['request_id'] }}"><p class="m-b-0">{{ payload['message'].decode('utf-8') }}</p> </a>
                </div>
                <hr>
                <span class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ payload['created_at'] }}</span>
                &nbsp;.&nbsp;
                {% if payload.get('source') %}
                <span class="text-muted">via {{ payload.get('source') }}</span>
                {% endif %}
                <span class="links">
                    <a target="_blank" href="https://twitter.com/intent/tweet?hashtags=twoops&original_referer=https%3A%2F%2Fcodeforafrica.tech&ref_src=twsrc%5Etfw&tw_p=tweetbutton&text=.@{{ payload['username'] }}">Reply to @{{ payload['username'] }}</a>
                    &nbsp;.&nbsp;
                    <a target="_blank" href="https://twitter.com/intent/tweet?hashtags=twoops&original_referer=https%3A%2F%2Fcodeforafrica.tech&ref_src=twsrc%5Etfw&tw_p=tweetbutton&text=.@{{ payload['username'] }} deleted this tweet: {{ payload['message'].decode('utf-8') }}" >Share on Twitter</a>
                </span>
            </div>
        </div>
    </div>
</div>    

{% endblock %}
