{% extends 'base.html' %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <!-- Title -->
    <div class="row">
        <div class="col-md-12">
            <h3>Twitter accounts that we are tracking</h3>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">@</span>
                <input type="text" class="form-control" placeholder="Enter twitter handle" aria-describedby="basic-addon2">
            </div>
            <small>Recommend users to track</small>
        </div>

    </div>
    <hr>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-4 col-md-offset-8 col-xs-12 search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </div>
    </div>
    <br clear="all">
    <div class="col-md-12">

        {% for user in users[0:9] %}
        <div class="col-md-4 col-sm-6 col-xs-12 user-card">
            <div class="wrapper">
                <a target="_blank" href="https://twitter.com/{{ user['screen_name'] }}">
                <div class="top row">
                    <div class="col-md-6">
                        <img class="img-circle" src="{{ user.get('avatar') + '_normal' }}" alt="{{ user['username'] }}">
                    </div>
                    <div class="col-md-6 text-center">
                        <span class="bubble"><script>document.write(parseInt(Math.random(1) * 100))</script></span><br clear="all">
                        <span class="desc">tweets</span>
                    </div>
                </div>
                <div class="inner">
                    <h4 class="list-group-item-heading">@{{ user['screen_name'] }}</h4>
                    <p class="list-group-item-text">{{ user['bio'] }}</p>
                </div>
              </a>
            </div>
        </div>
        {% endfor %}

        <hr>
    </div>

</div>
<!-- /.container -->
{% endblock %}
